<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
            }
    </style>
	<title th:text="#{page.item}">상품 상세</title>
</head>
<body>
	
	<div class="container">

		<div class="py-5 text-center">
			<h2 th:text="#{page.item}">상품 상세</h2>
		</div>
				
		<!-- 저장 완료 메세지 -->
		<h2 th:if="${param.status}" th:text="#{message.saved}">저장 완료</h2>
		
		<!-- 상품 기본 정보 -->
		<div>
			<label for="itemId" th:text="#{label.item.id}">상품 ID</label>
			<input type="text" id="itemId" class="form-control" th:value="${item.id}" readonly>
		</div>
		<div>
			<label for="itemName" th:text="#{label.item.itemName}">상품명</label>
			<input type="text" id="itemName" class="form-control" th:value="${item.itemName}" readonly>
		</div>
		<div>
			<label for="price" th:text="#{label.item.price}">상품 가격</label>
			<input type="text" id="price" class="form-control" th:value="${item.price}" readonly>
		</div>
		<div>
			<label for="quantity" th:text="#{label.item.quantity}">상품 수량</label>
			<input type="text" id="quantity" class="form-control" th:value="${item.quantity}" readonly>
		</div>
		
		<hr class="my-4">
		
		<!-- 하단 버튼 -->
		<div class="row">
			<div class="col">
				<a class="w-100 btn btn-primary btn-lg"
				   th:href="@{/validation/v3/items/{itemId}/edit(itemId=${item.id})}"
				   th:text="#{page.updateItem}">상품 수정
			   </a>
			</div>
			<div class="col">
				<a class="w-100 btn btn-secondary btn-lg"
				   th:href="@{/validation/v3/items}"
				   th:text="#{page.items}">목록 으로
				</a>
			</div>
		</div> 
		
	</div>
	
</body>
</html>